# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env.*
venv/
ENV/
env/

# Database files
database/*.db
database/history.db

# IDE & Editor caches
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Testing
.pytest_cache/
htmlcov/
.coverage
